.c-recommand {
  border-bottom: 1px solid map-get($map: $color, $key: cl-gray-03);
  margin-top: 3rem;
  padding: map-get($map: $spacing, $key: lg-02) 0;
}

@media (prefers-color-scheme: dark) {
  .c-recommand {
    border-bottom: 1px solid map-get($map: $color, $key: cl-gray-02);
  }
}

.c-recommand-header {
  font-family: map-get($map: $font, $key: primary);
  margin-bottom: map-get($map: $spacing, $key: lg-01);
  margin-left: map-get($map: $spacing, $key: md-02);
}
.c-recommand-container {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

.c-recommand-container::-webkit-scrollbar {
  display: none;
}

.c-recommand-item {
  display: inline-flex;
  flex-direction: column;
  flex: 0 0 auto;
  width: 5.4rem;
  margin-right: map-get($map: $spacing, $key: lg-03);
}

.c-recommand-item-image {
  border-radius: map-get($map: $borderradius, $key: md);
  width: 5.4rem;
  margin: map-get($map: $spacing, $key: md-02);
}

.c-recommand-item-info {
  margin: 0 map-get($map: $spacing, $key: md-02);
}
.c-recommand-item-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-family: map-get($map: $font, $key: primary);
  font-size: map-get($map: $fontsize, $key: sm-02);
}

.c-recommand-item-genre {
  font-family: map-get($map: $font, $key: primary);
  font-size: map-get($map: $fontsize, $key: sm-01);
  color: map-get($map: $color, $key: cl-gray-02);
}
