.c-applist-item {
  display: flex;
  flex-direction: row;
  padding: map-get($map: $spacing, $key: lg-01)
    map-get($map: $spacing, $key: md-02);
  border-bottom: $bordersize solid map-get($map: $color, $key: cl-gray-01);
}

@media (prefers-color-scheme: dark) {
  .c-applist-item {
    border-bottom: $bordersize solid map-get($map: $color, $key: cl-gray-02);
  }
}

.c-applist-item-ranking {
  display: flex;
  align-items: center;
  min-width: 1.6rem;
  font-family: map-get($map: $font, $key: primary);
  font-weight: map-get($map: $fontweight, $key: light);
  color: map-get($map: $color, $key: cl-gray-02);
  font-size: map-get($map: $fontsize, $key: md-03);
  margin: map-get($map: $spacing, $key: sm-01);
}

.c-applist-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: map-get($map: $spacing, $key: md-01);
}

.c-applist-item-name {
  font-family: map-get($map: $font, $key: primary);
}

.c-applist-item-genre {
  font-family: map-get($map: $font, $key: primary);
  color: map-get($map: $color, $key: cl-gray-02);
  font-size: map-get($map: $fontsize, $key: sm-01);
  padding: map-get($map: $spacing, $key: sm-01) 0;
}

.c-applist-item-rating {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: map-get($map: $color, $key: cl-gray-02);
  font-size: map-get($map: $fontsize, $key: sm-02);
}

.c-applist-item-reviews {
  padding-left: map-get($map: $spacing, $key: md-01);
}

.c-applist-item-image {
  border-radius: map-get($map: $borderradius, $key: md);
  height: 5rem;
  padding: map-get($map: $spacing, $key: md-01);
}

.app-even-ranking {
  border-radius: map-get($map: $borderradius, $key: lg);
}
