.c-search-container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
  width: 100%;
  background-color: map-get($map: $color, $key: cl-white);
  border-bottom: $bordersize solid map-get($map: $color, $key: cl-gray-03);
}

@media (prefers-color-scheme: dark) {
  .c-search-container {
    background-color: map-get($map: $color, $key: cl-gray-06);
    border-bottom: $bordersize solid map-get($map: $color, $key: cl-gray-02);
  }
}

.c-search-input-container {
  width: 100%;
  box-sizing: content-box;
  margin: map-get($map: $spacing, $key: md-02)
    map-get($map: $spacing, $key: md-02);
}

.c-search-input {
  background-color: map-get($map: $color, $key: cl-gray-04);
  color: map-get($map: $color, $key: cl-gray-07);
  box-sizing: border-box;
  height: 1.5rem;
  width: 100%;
  padding: 0 map-get($map: $spacing, $key: sm-02);
  border-radius: map-get($map: $borderradius, $key: sm);
  font-size: map-get($map: $fontsize, $key: sm-02);
}
