//overwrite material ui style
.MuiRating-iconEmpty {
  color: map-get($map: $color, $key: cl-orange) !important;
}

.MuiRating-sizeSmall {
  font-size: 1rem !important;
}

.MuiGrid-item {
  width: 100%;
}
