//abstracts
@import 'abstracts/variables.scss';

// base
@import 'base/img.scss';
@import 'base/list.scss';
@import 'base/input.scss';

//components
@import 'components/search.scss';
@import 'components/app-list-item.scss';
@import 'components/app-recommand.scss';
@import 'components/loading.scss';

//animation on scroll
@import 'aos/dist/aos.css';

@media (prefers-color-scheme: dark) {
  body {
    background: map-get($map: $color, $key: cl-gray-05);
    color: map-get($map: $color, $key: cl-white);
  }
}

@media (prefers-color-scheme: light) {
  body {
    background: map-get($map: $color, $key: cl-white);
    color: map-get($map: $color, $key: cl-black);
  }
}

//overwrite material ui style
.MuiRating-iconEmpty {
  color: map-get($map: $color, $key: cl-orange) !important;
}

.MuiRating-sizeSmall {
  font-size: 1rem !important;
}

.MuiGrid-item {
  width: 100%;
}
