body {
  background: map-get($map: $color, $key: cl-white);
  color: map-get($map: $color, $key: cl-black);
}

@media (prefers-color-scheme: dark) {
  body {
    background: map-get($map: $color, $key: cl-gray-05);
    color: map-get($map: $color, $key: cl-white);
  }
}
